main { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    column-gap: 10px;
    max-width: 500px;
}

main > div {
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 1px solid black;
    border-radius: 4px;
    user-select: none;
   
}

main > div.row1 {
    background: radial-gradient(#11eb1c, #9198e5);
}

main > div.row2 {
    background: radial-gradient(#daeb7e, #9198e5);
}

main > div.row3 {
    background: radial-gradient(#e22794, #9198e5);
}

main > div.row4 {
    background: radial-gradient(#0528f0, #9198e5);
}

main > div.active {
    background: radial-gradient(#e66465, #9198e5);
}